body {
  background-image : url("https://s19.postimg.org/4mk3fwlfn/ricepaper2.png");
  background-size: 20%;
}

p {
  font-size: xx-large;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 5%;
}

#design {
  margin-top: 5%;
  font-size: small;
}

.btn-prop {
  background: rgba(76, 175, 80, 0);
  color: black;
  text-align: center;
  width: 50%;
  margin: 3%;
}

#main_frame {
  background-color: #dcd0d0;
  margin: 10%;
  padding: 3% 5% 2% 5%;
  align-items: center;
}